<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>Create Article</h1>
<form action="/tasks/add/" method="post">
    {% csrf_token %}
    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>

    <label>Description:</label><br/>
    <textarea name="description"></textarea><br/>

    <select name="status">
        <option name="new">Новая</option>
        <option name="in_progress">В процессе</option>
        <option name="done">Сделано</option>
    </select><br/>
    <label>Date Of Completion:</label><br/>
    <input type="date" name="date_of_completion"/>
    <br/>
    <input type="submit" value="Send"/>
</form>
</body>
</html>