{% extends 'base.html' %}
{% block title %}Create Task{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<h1>Create Task</h1>
<form method="post">
    {% csrf_token %}
    <label>Title:</label><br/>
    <input type="text" name="title"/><br/>

    <label>Description:</label><br/>
    <input type="text" name="description"><br/>

    <label>Detailed Description:</label><br/>
    <textarea name="detailed_description"></textarea><br/>

    <select name="status">
        <option name="new">Новая</option>
        <option name="in_progress">В процессе</option>
        <option name="done">Сделано</option>
    </select><br/>
    <label>Date Of Completion:</label><br/>
    <input type="date" name="date_of_completion"/>
    <br/>
    <input type="submit" value="Send"/>
</form>
{% endblock %}